/* --- start of CSS reset --- */

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
}

a {
  text-decoration: none;
}

a img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
textarea,
select {
  appearance: none !important;
  border-radius: 0;
}

/* --- end of CSS reset --- */

/* --- start of CSS header --- */

header {
  width: 100vw;
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
}

.div1 {
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
}

.div2 {
  grid-column: 2/3;
  grid-row: 1/2;
  display: grid;
  align-self: center;
}

.div3 {
  grid-column: 3/4;
  grid-row: 1/2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-img {
  width: 20px;
  height: 20px;
  margin-left: 23px;
  margin-right: 15px;
}

.header-a {
  color: gray;
  font-size: 18px;
  font-weight: lighter;
}

.div2 ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

/* --- end of CSS header --- */

.section-1 {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.section-1-div-1 {
  grid-column: 1/2;
  grid-row: 1/2;
  background-image: url(./img/Gold-Colorful-lines-abstract-background-vector-PNG.png);
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: 290px 110px;
}

.section-1-div-2 {
  grid-column: 2/3;
  grid-row: 1/2;
}

.img-cooking {
  width: 600px;
  height: 500px;
}

.hashtag {
  height: 80px;
  color: grey;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.hashtag-p {
  margin-left: 20px;
}

.sentence {
  display: flex;
  align-items: center;
}

.sentence-p {
  font-size: 50px;
  margin-left: 20px;
  margin-top: 15px;
  line-height: 60px;
}

.div-span {
  height: 80px;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.first-s {
  border-right: solid 1.5px grey;
  padding-right: 10px;
}

span {
  color: gray;
  margin-left: 20px;
  height: 15px;
}

.div-anc {
  margin-left: 20px;
  margin-top: 20px;
}

.ach-1 {
  background-color: #ff5700;
  color: white;
  padding: 15px;
  font-weight: lighter;
}
.ach-1:hover{
  background-color: #ff5500cb;
}

.ach-2 {
  padding: 15px 35px;
}

.fancy-div {
  position: absolute;
  left: 160px;
  bottom: 135px;
  margin-left: 20px;
  height: 40px;
  display: flex;
  align-items: center;
}

.fancy-link {
  position: relative;
  padding: 15px 35px;
}

.fancy-div::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 0;
  height: 0;
  background: transparent;
  border: solid 2px transparent;
  border-radius: 30px;
}

.fancy-div:hover::before {
  animation: animate 1s linear forwards;
}

@keyframes animate {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: black;
  }
  25% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: black;
    border-left-color: black;
  }

  50% {
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: black;
    border-left-color: black;
  }
  75% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: black;
    border-bottom-color: black;
    border-left-color: black;
  }

  100% {
    width: 100%;
    height: 100%;
    border-top-color: black;
    border-right-color: black;
    border-bottom-color: black;
    border-left-color: black;
  }
}


/* --- start of CSS section-2 --- */

.section-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  height: 740px;
  width: 100%;
  min-width: 640px;
  box-sizing: content-box;
}

.cards {
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 10%;
}

.cards span {
  margin: 0;
}

.cardTitle {
  justify-self: left;
}

.cardTitle span {
  color: black;
  font-size: 24px;
}

.cardTags span {
  color: rgba(0, 0, 0, 0.553);
  font-size: 16px;
}

.cardText span {
  color: black;
  font-size: 24px;
}

.cardBottom span {
  color: rgba(0, 0, 0, 0.553);
  font-size: 16px;
  font-style: initial;
}

.cardIMG {
  justify-content: center;
  align-items: center;
  display: flex;
}

.cardIMG img {
  max-width: 100px;
  max-height: 100px;
}

.card-1 {
  background-color: #ff5700;
}

.card-2 {
  background-color: #c49dff;
}

.card-3 {
  background-color: #ffbfa5;
}

/* --- end of CSS section-2 --- */